//@import "bourbon";
@import "~bourbon/app/assets/stylesheets/bourbon";

.flex-center {
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center);
}

$circle-ikon: darken(#fff, 50%);
$circle1: #8E3059;  //#88A600;; //#95C801; //#B9D03A; //#BCCD2A; // green
$circle2: #6F8C00; //#159CCE; //#CC58E4; //#BE32DC;  //#E47100; // orange
$circle3: #D67800;
$circle5: #8363b5;
$circle6: #005FA5;
$circle-dark: #000;
$circle-light: #fff;
$circle-grey: rgba(#444, .5);

//////////////////////////
$screen-color: $circle-grey;
$circle-transparency: rgba($screen-color, .3) ;


$screen:100%;

$stroke-5: 14;
$stroke-6: $stroke-5*2 + 7;

//////////////////////////

$time: 40s;
$delay:$time/4;

$time-scale: $time/8;
$time-scale-delay: $time/4;

$triangle-scale: .3;

$media-top: 87px;

$browser-scale:(.17);
$browser-rotate:(92deg);

//////////////////////////////////////////////////
@mixin flex-center {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
}

@mixin animation-set {
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include animation-direction(normal);
  @include animation-fill-mode(forwards);
  @include animation-delay(0s);
}

///////////////////////////////////////////////// text

$text-space: 40px;
$icon-left: -40px;
