@import "bourbon";

.flex-center {
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center);
}

$color1: darken(#fff, 3%);
$color2: #A1BF16;  //#88A600;; //#95C801; //#B9D03A; //#BCCD2A; // green
$color3: #159CCE; //#159CCE; //#CC58E4; //#BE32DC;  //#E47100; // orange
//$color4: #373737;
$color4: #292929;
$color5: #000;
$color6: #B501B5;
$color7: #FB8D04;

//////////////////////////
$screen-color: darken(rgba(#fff, .5), 20%);
$screen-color-darken: darken($screen-color, 20%);

$screen:400px;

$stroke-5: 15;
$stroke-6: $stroke-5*2 + 7;


//////////////////////////////////////////////////
@mixin flex-center {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
}

.animationWrapper-screen {
  @include flex-center;
  position: relative;

  .screen {
    width: $screen;
    height: $screen;
    @include transform(scale(1));
  }

  svg {
    width: 100%;
    height: 100%;

    circle {
      //fill: transparent;
    }
  }



  .all-wrapper{
    @include transform(translate(150px, 150px));
  }


  ////////////////////////////////

  .circle-5-dash {
    stroke-dasharray: 38, 50;
    stroke-width: $stroke-5;
    @include transform(rotate(31deg));
  }
  .circle-6-dash {
    stroke-dasharray: 45,60 ;
    @include transform(rotate(99deg));
  }
  .circle-6 {
    stroke-width: 2;
  }

  /////////////////////////////////////////////////////
  /////////////////////////////////////////////////////


  .middle-center-browser {
    @include transform(rotate(0deg) );
  }
  @for $s from 0 through 5 {
    .screen-browser:nth-child(#{$s}) {
      @include transform(
              rotate(360deg / 5 * $s + (360deg/5)*2)
              translate(102px, 0px)
      );
    }
  }

  $browser-scale:(.17);
  $browser-rotate:(92deg);
  .screen-browser:nth-child(1) path {
    @include transform(translate(5px, -4px) rotate($browser-rotate) scale( $browser-scale));
  }
  .screen-browser:nth-child(2) path {
    @include transform(translate(5.5px, -5px) rotate($browser-rotate) scale( $browser-scale));
  }
  .screen-browser:nth-child(3) path {
    @include transform(translate(4.5px, -5px) rotate($browser-rotate) scale( $browser-scale));
  }
  .screen-browser:nth-child(4) path {
    @include transform(translate(5px, -5px) rotate($browser-rotate) scale( $browser-scale));
  }
  .screen-browser:nth-child(5) path {
    @include transform(translate(6px, -5px) rotate($browser-rotate) scale(0.19));
  }



  //////////////////////////////////////////////////////
  ////////////////////////////////////////////

} //animationWrapper-screen
@mixin animation-set {
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite); //infinite
  @include animation-direction(normal);
  @include animation-fill-mode(forwards);
  @include animation-delay(0s);
}
$time: 20s;
$delay:$time/4;
////////////////////////////////////////// part-1

.circle-1 {
  stroke-dasharray: 3,7;
  stroke: $screen-color;
  @include transform(rotate(0deg) );
  @include animation-set;
  @include animation-name(circle-1);
  @include animation-duration($time);
}
@include keyframes(circle-1) {
  0% {
    stroke: $screen-color;
    @include transform(rotate(0deg) );
  }
  10% {
    stroke: $screen-color;
  }
  11%, 28% {
    stroke: $color2;
  }
  29%, 35% {
    stroke: $screen-color;
  }
  36%, 53% {
    stroke: $color3;
  }
  54%, 60% {
    stroke: $screen-color;
  }
  61%, 79% {
    stroke: $color7;
  }
  80%, 85% {
    stroke: $screen-color;
  }

  86%{
    stroke: $color6;
  }
  100%{
    stroke: $color6;
    @include transform(rotate(360deg) );
  }
}

.circle-2 {
  stroke: $screen-color;
  @include transform(rotate(0deg) );
  @include animation-set;
  @include animation-name(circle-2);
  @include animation-duration($time);
}
@include keyframes(circle-2) {
  0%, 10% {
    stroke: $screen-color;
  }
  11%, 28% {
    stroke: $color4;
  }
  29%, 35% {
    stroke: $screen-color;
  }
  36%, 53% {
    stroke: $color4;
  }
  54%, 60% {
    stroke: $screen-color;
  }
  61%, 79% {
    stroke: $color4;
  }
  80%, 85% {
    stroke: $screen-color;
  }

  86%, 100%{
    stroke: $color4;
  }
}


////////////////////////////////////////// part-2
.middle-center-system {
  @include transform(rotate(-27deg) );
}
@for $s from 0 through 4 {
  .screen-system:nth-child(#{$s}) {
    @include transform(rotate(360deg / 4 * $s - 360deg/4) translate(63px));
  }
}
.circle-3-wrapper {
  @include transform(rotate(-10deg) );
}
.circle-3 {
  stroke-width: 3px;
  stroke-dasharray: 46,22;
  stroke: $screen-color;
  @include transform(rotate(0deg));
  @include animation-set;
  @include animation-name(part-1-stroke);
  @include animation-duration($time);
}
@include keyframes(part-1-stroke) {
  0% {
    stroke: $screen-color;
  }
  10% {
    stroke: $screen-color;
  }
  11%, 29% {
    stroke: $color4;
  }
  30% {
    stroke: $screen-color;
  }
  100% {
    stroke: $screen-color;
  }
}

.circle-3-dash {
  stroke-width: 4px;
  stroke-dasharray: 15,53;
  stroke: $screen-color;
  @include animation-set;
  @include animation-name(part-1-color);
  @include animation-duration($time);
  @include transform(rotate(66deg));
}
.circle-4 {
  stroke-width: 2px;
  stroke: $screen-color;
  @include animation-set;
  @include animation-name(part-1-color);
  @include animation-duration($time);
}

@include keyframes(part-1-color) {
  0% {
    stroke: $screen-color;
  }
  10% {
    stroke: $screen-color;
  }
  11%, 29% {
    stroke: $color2;
  }
  30% {
    stroke: $screen-color;
  }
  100% {
    stroke: $screen-color;
  }
}

.middle-origin-system {
  @include animation-set;
  @include animation-name(middle-origin-system);
  @include animation-duration($time);
}
@include keyframes(middle-origin-system) {
  0% {
    @include transform(rotate(0deg));
    stroke: $screen-color;
  }
  10% {
    @include transform(rotate(-20deg));
    stroke: $screen-color;
  }
  11%, 29% {
    stroke: $color2;
  }
  30% {
    @include transform(rotate(-20deg));
    stroke: $screen-color;
  }
  100% {
    @include transform(rotate(-720deg));
    stroke: $screen-color;
  }
}
.system {
  fill: $screen-color-darken;
  @include transform(rotate(95deg)  scale(.6));
  @include animation-set;
  @include animation-name(part-1-fill);
  @include animation-duration($time);
}
@include keyframes(part-1-fill) {
  0% {
    fill:  $screen-color-darken;
  }
  10% {
    fill:  $screen-color-darken;
  }
  11%, 29% {
    fill: $color2;
  }
  30% {
    fill:  $screen-color-darken;
  }
  100% {
    fill:  $screen-color-darken;
  }
}


.circle-6-holder {
  @include animation-set;
  @include animation-name(circle-6-holder);
  @include animation-duration($time);
}
@include keyframes(circle-6-holder) {
  0% {
    @include transform(rotate(0deg));
    stroke: $screen-color;
  }
  10% {
    @include transform(rotate(20deg));
    stroke: $screen-color;
  }
  11%, 29% {
    stroke: $color4;
  }
  30% {
    @include transform(rotate(20deg));
    stroke: $screen-color;
  }
  100% {
    @include transform(rotate(720deg));
    stroke: $screen-color;
  }
}


.circle-6-dash {
  @include animation-set;
  @include animation-name(circle-6-dash);
  @include animation-duration($time);
}
@include keyframes(circle-6-dash) {
  0% {
    stroke-width: 4;
  }
  10% {
    stroke-width: 4;
  }
  11% {
    stroke-width: $stroke-6;
  }
  29% {
    stroke-width: $stroke-6;
  }
  30% {
    stroke-width: 4;
  }
  100% {
    stroke-width: 4;
  }
}

//////////////////////////////////////////// part-3

.middle-center-media {
  @include animation-set;
  @include animation-name(middle-center-media);
  @include animation-duration($time);
  @include animation-delay($delay);
}

@include keyframes(middle-center-media) {
  0% {
    @include transform(rotate(0deg));
  }
  10% {
    @include transform(rotate(20deg));
  }
  30% {
    @include transform(rotate(20deg));
  }
  100% {
    @include transform(rotate(720deg));
  }
}

$media-top: 84px;
@for $s from 0 through 5 {
  .media-system:nth-child(#{$s}) {
    @include transform(rotate(360deg / 5 * $s) translate($media-top, 0px));
    @include animation-set;
    @include animation-name(media-system#{$s});
    @include animation-duration($time);
    @include animation-delay($delay);
  }
  @keyframes media-system#{$s}{
    0% {
      @include transform(rotate(360deg / 5 * $s) translate($media-top, 0px));
    }
    10% {
      @include transform(rotate(-160deg + 15deg*$s) translate($media-top, 0px));
    }

    30% {
      @include transform(rotate(-160deg + 15deg*$s) translate($media-top, 0px));
    }
    40% {
      @include transform(rotate(360deg / 5 * $s) translate($media-top, 0px));
    }

    100% {
      @include transform(rotate(360deg / 5 * $s) translate($media-top, 0px));
    }
  }
}

.media-system path{
  fill: $screen-color-darken;
  @include transform(rotate(92deg)  scale(.11));
  @include animation-set;
  @include animation-name(part-2-fill);
  @include animation-duration($time);
  @include animation-delay($delay);
}

@include keyframes(part-2-fill) {
  0% {
    fill:  $screen-color-darken;
  }
  10% {
    fill:  $screen-color-darken;
  }
  11%, 29% {
    fill: $color3;
  }
  30% {
    fill:  $screen-color-darken;
  }
  100% {
    fill:  $screen-color-darken;
  }
}

.circle-7 {
  stroke-width: 18 ;
  stroke: $screen-color;
  @include animation-set;
  @include animation-name(part-2-color);
  @include animation-duration($time);
  @include animation-delay($delay);

}
@include keyframes(part-2-color) {
  0% {
    stroke: $screen-color;
  }
  9% {
    stroke: $screen-color;
  }
  13%, 26% {
    stroke: $color4;
  }
  30% {
    stroke: $screen-color;
  }
  100% {
    stroke: $screen-color;
  }
}

.circle-7a {
  stroke-width: 14 ;
  stroke-dashoffset: 1700;
  stroke-dasharray: 558 ;
  stroke: $color3;
  @include transform(rotate(-38deg));
  @include animation-set;
  @include animation-name(circle-7a);
  @include animation-duration($time);
  @include animation-delay($delay);


}

@include keyframes(circle-7a) {
  0% {
    stroke-dasharray: 558 ;
  }
  9% {
    stroke-dasharray: 558 ;

  }
  13% {
    stroke-dasharray: 685 ;
  }

  26% {
    stroke-dasharray: 685 ;
  }
  30% {
    stroke-dasharray: 558 ;
  }

  100% {
    stroke-dasharray: 558 ;
  }
}

//////////////////////////////////////////////////part-4


.middle-origin-browser {
  @include transform(rotate(0deg));
  @include animation-set;
  @include animation-name(middle-origin-browser);
  @include animation-duration($time);
  @include animation-delay($delay*2);
}

@include keyframes(middle-origin-browser) {
  0% {
    @include transform(rotate(0deg));
  }
  10% {
    @include transform(rotate(-20deg));
  }
  30% {
    @include transform(rotate(-20deg));
  }
  100% {
    @include transform(rotate(-720deg));
  }
}


.screen-browser circle {
  stroke-width: 2px;
  fill: $color1 ;
  stroke: rgba($screen-color, 1) ;
  @include transform(rotate(134deg) );

  stroke-dasharray: 30,0 ;
  @include animation-set;
  @include animation-name(screen-browser);
  @include animation-duration($time);
  @include animation-delay($delay*2);
}
@include keyframes(screen-browser) {
  0% {
    stroke-dasharray: 30,0 ;
    stroke: rgba($screen-color, 1) ;
    fill: $color1 ;
    stroke-width: 2px;
  }
  10% {
    stroke-dasharray: 30,0 ;
    stroke: rgba($screen-color, 1) ;
    fill: $color1 ;
    stroke-width: 2px;
  }
  11%,29% {
    stroke-dasharray: 30,10 ;
    stroke: $color4 ;
    fill: $color4 ;
    stroke-width: 4px;
  }
  30% {
    stroke-dasharray: 30,0 ;
    stroke: rgba($screen-color, 1) ;
    fill: $color1 ;
    stroke-width: 2px;
  }
  100% {
    stroke-dasharray: 30,0 ;
    stroke: rgba($screen-color, 1) ;
    fill: $color1 ;
    stroke-width: 2px;
  }
}
.screen-browser path {
  fill: $screen-color-darken;
  @include animation-set;
  @include animation-name(part-4-fill);
  @include animation-duration($time);
  @include animation-delay($delay*2);
}
@include keyframes(part-4-fill) {
  0% {
    fill:  $screen-color-darken;
  }
  10% {
    fill:  $screen-color-darken;
  }
  11%, 29% {
    fill: $color7;
  }
  30% {
    fill:  $screen-color-darken;
  }
  100% {
    fill:  $screen-color-darken;
  }
}


/////////////////////////////////////////////////////////
.circle-8 {
  stroke-width: 2;
  stroke: $screen-color;
  @include animation-set;
  @include animation-name(part-4-stroke);
  @include animation-duration($time);
  @include animation-delay($delay*2);
}
@include keyframes(part-4-stroke) {
  0% {
    stroke: $screen-color;
  }
  10% {
    stroke: $screen-color;
  }
  11%, 29% {
    stroke: $color4;
  }
  30% {
    stroke: $screen-color;
  }
  100% {
    stroke: $screen-color;
  }
}

.circle-8a {
  stroke-width: 5 ;
  stroke: $screen-color;
  stroke-dasharray: 5;
  @include transform(rotate(0deg));
  @include animation-set;
  @include animation-name(circle-8a);
  @include animation-duration($time);
  @include animation-delay($delay*2);

}
@include keyframes(circle-8a) {
  0% {
    stroke: $screen-color;
    @include transform(rotate(0deg));
  }
  10% {
    stroke: $screen-color;
    @include transform(rotate(-54deg));
  }
  11%, 29% {
    stroke: $color7;
  }
  30% {
    stroke: $screen-color;
    @include transform(rotate(-54deg));
  }
  100% {
    stroke: $screen-color;
    @include transform(rotate(-360deg));
  }
}

.circle-8b {
  stroke-width: 4;
  stroke: $screen-color ;
  stroke-dasharray: 116,17;
  @include transform(rotate(0deg));
  @include animation-set;
  @include animation-name(circle-8b);
  @include animation-duration($time);
  @include animation-delay($delay*2);

}
@include keyframes(circle-8b) {
  0% {
    stroke: $screen-color;
    @include transform(rotate(0deg));
  }
  10% {
    stroke: $screen-color;
  }
  11%, 29% {
    //stroke: $color7;
    @include transform(rotate(-88deg));
  }
  30% {
    stroke: $screen-color;
  }
  100% {
    stroke: $screen-color;
    @include transform(rotate(-360deg));
  }
}

.circle-8c {
  stroke-width: 2;
  stroke: $screen-color;
  @include transform(rotate(34deg));
  @include animation-set;
  @include animation-name(circle-8c);
  @include animation-duration($time);
  @include animation-delay($delay*2);
}
@include keyframes(circle-8c) {
  0% {
    stroke: $screen-color;

  }
  10% {
    stroke: $screen-color;
  }
  11%, 29% {
    stroke: $color7;
  }
  30% {
    stroke: $screen-color;
  }
  100% {
    stroke: $screen-color;
  }
}

////////////////

.middle-center-tiangle {
  @include transform(rotate(-22.5deg) );
}

@for $t from 0 through 5 {
  .screen-triangle:nth-child(#{$t}) {
    @include transform(rotate(360deg / 5 * $t - 360deg/5) translate(114px, 7px));
    @include animation-set;
    @include animation-name(screen-triangle#{$t});
    @include animation-duration($time);
    @include animation-delay($delay*2);
  }

  @keyframes screen-triangle#{$t}{
    0% {
      @include transform(rotate(360deg / 5 * $t - 360deg/5) translate(114px, 7px));
    }
    10% {
      @include transform(rotate(360deg / 5 * $t - 360deg/5) translate(114px, 7px));
    }
    11% {
      @include transform(rotate(360deg / 5 * $t - 360deg/5) translate(108px, 7px));

    }
    29% {
      @include transform(rotate(360deg / 5 * $t - 360deg/5) translate(108px, 7px));

    }
    30% {
      @include transform(rotate(360deg / 5 * $t - 360deg/5) translate(114px, 7px));
    }
    100% {
      @include transform(rotate(360deg / 5 * $t - 360deg/5) translate(114px, 7px));
    }

  }
}

.screen-triangle polygon{
  fill: rgba($screen-color, 1);
  stroke: $color1;
  stroke-width: 3;
  stroke-linejoin: bevel; // miter; //round;
  @include transform(rotate(270deg)  scale(.34)  );
  @include animation-set;
  @include animation-name(triangle-color);
  @include animation-duration($time);
  @include animation-delay($delay*2);
}
@include keyframes(triangle-color) {
  0% {
    fill: rgba($screen-color, 1);
    @include transform(rotate(270deg)  scale(.34)  );
    stroke-width: 3;
  }
  10% {
    fill: rgba($screen-color, 1);
    @include transform(rotate(270deg)  scale(.34)  );
    stroke-width: 3;
  }
  11%, 29% {
    fill: $color4;
    @include transform(rotate(270deg)  scale(.34)  );
    stroke-width: 3;
  }
  30% {
    fill: rgba($screen-color, 1);
    @include transform(rotate(270deg)  scale(.34)  );
    stroke-width: 3;
  }
  100% {
    fill: rgba($screen-color, 1);
    @include transform(rotate(270deg)  scale(.34)  );
    stroke-width: 3;
  }
}
////////////////////////////////////////////////////////////// part-5
.circle-9 {
  stroke-width: 1 ;
  stroke: $screen-color ;
  stroke-dasharray: 1,2;
  @include animation-set;
  @include animation-name(part-5-stroke);
  @include animation-duration($time);
  @include animation-delay($delay*3);
}
@include keyframes(part-5-stroke) {
  0% {
    stroke: $screen-color;
  }
  10% {
    stroke: $screen-color;
  }
  11%, 25% {
    stroke: $color6;
  }
  26% {
    stroke: $screen-color;
  }
  100% {
    stroke: $screen-color;
  }
}


.circle-9a {
  stroke-width: 5 ;
  stroke: $screen-color ;
  stroke-dasharray: 2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8, 2,353 ;
  @include transform(rotate(9deg));
  @include animation-set;
  @include animation-name(circle-9a );
  @include animation-duration($time);
  @include animation-delay($delay*3);

}
@include keyframes(circle-9a) {
  0% {
    stroke: $screen-color ;
    @include transform(rotate(0deg));
  }
  10%{
    stroke: $screen-color ;
  }
  11%,25% {
    stroke: $color6 ;
    @include transform(rotate(random(360)+deg));
  }
  26%{
    stroke: $screen-color ;
  }
  100% {
    @include transform(rotate(720deg));
  }
}

.circle-9b {
  stroke-width: 7 ;
  stroke: $screen-color ;
  stroke-dasharray: 404,404;
  @include animation-set;
  @include animation-name(circle-9b );
  @include animation-duration($time);
  @include animation-delay($delay*3);

}
@include keyframes(circle-9b) {
  0% {
    stroke: $screen-color ;
    @include transform(rotate(0deg));
  }
  10%{
    stroke: $screen-color ;
  }
  11%,25% {
    stroke: $color4 ;
    @include transform(rotate(random(360)+deg));
  }
  26%{
    stroke: $screen-color ;
  }
  100% {
    @include transform(rotate(720deg));
  }
}
/////////////////////////////////////

