@import "mixins";

html { font-size: 62.5% !important; }
body {
  font-family: Quicksand, Verdana, sans-serifervetica;;
  font-weight: bold;
  @import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300);
} /* =14px */

.animationWrapper-screen {
  @include flex-center;
  position: relative;
  width: 100%;
  height: 100%;

  .screen {
    width: $screen *1.7;
    height: $screen;
    @include transform(scale(1));
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .all-wrapper{
    @include transform(translate(50px, 150px));
  }
  .all-wrapper-text{
    @include transform(translate(260px, 70px));
    background-color: #222;
  }

} //animationWrapper-screen


////////////////////////////////////////////// part-1
.glob {
  @include transform(scale(.35) translate(-50px, -50px));
  fill: $circle-ikon;
  @include animation-set;
  @include animation-name(path-color);
  @include animation-duration($time);
}
.glob2 {
  @include transform(translate(50px, 0px) rotateY(0deg));
  @include animation-name(glob);
  @include animation-duration(3s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include animation-direction(alternate);

  path {
    stroke-width: 2;
    @include transform(translate(-50px, 0px));
  }
}
@include keyframes(glob) {
  0% {
    @include transform(translate(50px, 0px) rotateY(0deg));
  }

  100% {
    @include transform(translate(50px, 0px) rotateY(180deg));
  }
}
@include keyframes(path-color) {
  0% {
    fill: $screen-color;
  }
  10% {
    fill: $screen-color;
  }
  11%, 28% {
    fill: $circle2;
  }
  29%, 35% {
    fill: $screen-color;
  }
  36%, 53% {
    fill: $circle1;
  }
  54%, 60% {
    fill: $screen-color;
  }
  61%, 79% {
    fill: $circle6;
  }
  80%, 85% {
    fill: $screen-color;
  }
  86%{
    fill: $circle5;
  }
  100%{
    fill: $circle5;
  }
}


.circle-1 {
  stroke-dasharray: 3,7;
  stroke: $screen-color;
  @include transform(rotate(0deg) );
  @include animation-set;
  @include animation-name(circle-1);
  @include animation-duration($time);
}
@include keyframes(circle-1) {
  0% {
    stroke: $screen-color;
    @include transform(rotate(0deg) );
  }
  10% {
    stroke: $screen-color;
  }
  11%, 28% {
    stroke: $circle2;
  }
  29%, 35% {
    stroke: $screen-color;
  }
  36%, 53% {
    stroke: $circle1;
  }
  54%, 60% {
    stroke: $screen-color;
  }
  61%, 79% {
    stroke: $circle6;
  }
  80%, 85% {
    stroke: $screen-color;
  }
  86%{
    stroke: $circle5;
  }
  100%{
    stroke: $circle5;
    @include transform(rotate(360deg) );
  }
}

.circle-2 {
  stroke: $screen-color;
  @include transform(rotate(0deg) );
  @include animation-set;
  @include animation-name(circle-2);
  @include animation-duration($time);
}
@include keyframes(circle-2) {
  0%, 10% {
    stroke: $screen-color;
  }
  11%, 28% {
    stroke: $circle2;
  }
  29%, 35% {
    stroke: $screen-color;
  }
  36%, 53% {
    stroke: $circle1;
  }
  54%, 60% {
    stroke: $screen-color;
  }
  61%, 79% {
    stroke: $circle6;
  }
  80%, 85% {
    stroke: $screen-color;
  }
  86%, 100%{
    stroke: $circle5;
  }
}

.middle-center-tiangle {
  @include transform(rotate(260deg) );
}

@for $t from 0 through 10 {
  .screen-triangle:nth-child(#{$t}) {
    @include transform(rotate(360deg / 10 + (12deg * $t) ) translate(150px, 0px));
  }
}
.screen-triangle polygon {
  fill: $screen-color;
  stroke-linejoin: bevel; // miter; //round;
  @include transform(rotate(-90deg)  scale($triangle-scale));
  @include animation-set;
  @include animation-name(triangle-color);
  @include animation-duration($time);
  //@include animation-delay($delay*2);
}
@include keyframes(triangle-color) {
  0%, 10% {
    fill: $screen-color;
  }
  11%, 28% {
    fill: $circle2;
  }
  29%, 35% {
    fill: $screen-color;
  }
  36%, 53% {
    fill: $circle1;
  }
  54%, 60% {
    fill: $screen-color;
  }
  61%, 79% {
    fill: $circle6;
  }
  80%, 85% {
    fill: $screen-color;
  }
  86%, 100%{
    fill: $circle5;
  }
}

////////////////////////////////////////////// part-2
.middle-center-system {
  @include transform(rotate(-27deg));
}
@for $s from 0 through 4 {
  .screen-system:nth-child(#{$s}) {
    @include transform(rotate(360deg / 4 * $s - 360deg/4) translate(63px));
  }
}
.circle-3-wrapper {
  @include transform(rotate(-10deg));
}
.circle-3 {
  stroke-width: 2px;
  stroke-dasharray: 46,22;
  stroke: $circle-transparency;
  @include transform(rotate(0deg));
  @include animation-set;
  @include animation-name(part-1-stroke);
  @include animation-duration($time);
}
@include keyframes(part-1-stroke) {
  0% {
    stroke: $circle-transparency;
  }
  10% {
    stroke: $circle-transparency;
  }
  11%, 29% {
    stroke: $circle-light;
  }
  30% {
    stroke: $circle-transparency;
  }
  100% {
    stroke: $circle-transparency;
  }
}

.circle-3-dash {
  stroke-width: 4px;
  stroke-dasharray: 15,53;
  stroke: $circle-transparency;
  @include animation-set;
  @include animation-name(part-1-color);
  @include animation-duration($time);
  @include transform(rotate(66deg));
}
.circle-4 {
  stroke-width: 2px;
  stroke: $screen-color;
  @include animation-set;
  @include animation-name(part-1-color);
  @include animation-duration($time);
}

@include keyframes(part-1-color) {
  0% {
    stroke: $screen-color;
  }
  10% {
    stroke: $screen-color;
  }
  11%, 29% {
    stroke: $circle2;
  }
  30% {
    stroke: $screen-color;
  }
  100% {
    stroke: $screen-color;
  }
}

.middle-origin-system {
  @include animation-set;
  @include animation-name(middle-origin-system);
  @include animation-duration($time);
}
@include keyframes(middle-origin-system) {
  0% {
    @include transform(rotate(0deg));
    stroke: $screen-color;
  }
  10% {
    @include transform(rotate(-20deg));
    stroke: $screen-color;
  }
  11%, 29% {
    stroke: $circle2;
  }
  30% {
    @include transform(rotate(-20deg));
    stroke: $screen-color;
  }
  100% {
    @include transform(rotate(-720deg));
    stroke: $screen-color;
  }
}
.system {
  fill: $circle-ikon;
  @include transform(rotate(95deg)  scale(.6));
  @include animation-set;
  @include animation-name(part-1-fill);
  @include animation-duration($time);
}
@include keyframes(part-1-fill) {
  0%,10% {
    fill:  $circle-ikon;
  }
  11%, 29% {
    fill: $circle-light;
  }
  30%,100% {
    fill:  $circle-ikon;
  }
}

.circle-5-dash {
  stroke: $circle-transparency;
  stroke-dasharray: 38, 50;
  stroke-width: $stroke-5;
  @include transform(rotate(31deg));
}

.circle-6-holder {
  @include animation-set;
  @include animation-name(circle-6-holder);
  @include animation-duration($time);
}
@include keyframes(circle-6-holder) {
  0% {
    @include transform(rotate(0deg));
    stroke: $screen-color;
  }
  10% {
    @include transform(rotate(20deg));
    stroke: $screen-color;
  }
  11%, 29% {
    stroke: $circle2;
  }
  30% {
    @include transform(rotate(20deg));
    stroke: $screen-color;
  }
  100% {
    @include transform(rotate(720deg));
    stroke: $screen-color;
  }
}

.circle-6-dash {
  stroke-width: 0;
  stroke-dasharray: 45,60 ;
  @include transform(rotate(99deg));
  @include animation-set;
  @include animation-name(circle-6-dash);
  @include animation-duration($time);
}
@include keyframes(circle-6-dash) {
  0%,10% {
    stroke-width: 0;
  }
  11% {
    stroke-width: $stroke-6;
  }
  29% {
    stroke-width: $stroke-6;
  }
  30%,100% {
    stroke-width: 0;
  }
}

.circle-6 {
  stroke-width: 2;
}





//////////////////////////////////////////////// part-3

.middle-center-media {
  @include animation-set;
  @include animation-name(middle-center-media);
  @include animation-duration($time);
  @include animation-delay($delay);
}

@include keyframes(middle-center-media) {
  0% {
    @include transform(rotate(0deg));
  }
  10% {
    @include transform(rotate(20deg));
  }
  30% {
    @include transform(rotate(20deg));
  }
  100% {
    @include transform(rotate(720deg));
  }
}

@for $s from 0 through 15 {
  .media-system:nth-child(#{$s}) {
    @include transform(rotate(360deg / 5 * $s) translate($media-top, 0px));
    @include animation-set;
    @include animation-name(media-system#{$s});
    @include animation-duration($time);
    @include animation-delay($delay);
  }
  @keyframes media-system#{$s}{
    0% {
      @include transform(rotate(360deg / 5 * $s) translate($media-top, 0px));
    }
    10%,30% {
      @include transform(rotate(-200deg + 22deg*$s) translate($media-top, 0px));
    }
    40% {
      @include transform(rotate(360deg / 5 * $s) translate($media-top, 0px));
    }

    100% {
      @include transform(rotate(360deg / 5 * $s) translate($media-top, 0px));
    }
  }
}

.media-system path {
  fill: $circle-ikon;
  @include transform(rotate(92deg)  scale(.11));
  @include animation-set;
  @include animation-name(part-2-fill);
  @include animation-duration($time);
  @include animation-delay($delay);
}

@include keyframes(part-2-fill) {
  0% {
    fill:  $circle-ikon;
  }
  10% {
    fill:  $circle-ikon;
  }
  11%, 29% {
    fill: $circle1;
  }
  30% {
    fill:  $circle-ikon;
  }
  100% {
    fill:  $circle-ikon;
  }
}

.circle-7 {
  stroke-width: 16 ;
  stroke: $circle-transparency;
  stroke-dasharray: 1,1;
}

.circle-7c {
  stroke-width: 2 ;
  stroke: $circle-transparency;
}


.circle-7a {
  stroke-width: 1 ;
  stroke-dashoffset: 1707;
  stroke-dasharray: 558 ;
  stroke: $circle1;
  @include transform(rotate(-32deg));
  @include animation-set;
  @include animation-name(circle-7a);
  @include animation-duration($time);
  @include animation-delay($delay);


}

@include keyframes(circle-7a) {
  0% {
    stroke-dasharray: 558 ;
  }
  9% {
    stroke-dasharray: 558 ;
  }
  13%,26% {
    stroke-dasharray: 685 ;
  }
  30% {
    stroke-dasharray: 558 ;
  }

  100% {
    stroke-dasharray: 558 ;
  }
}

.circle-7-media {
  stroke: $circle-dark;
  stroke-width: 0 ;
  //stroke-dasharray: 23,8, 24,8, 23,6, 20,11, 20,401;
  //stroke-dasharray:  143,370;
  @include transform(rotate(201deg));
  @include animation-set;
  @include animation-name(circle-7-media );
  @include animation-duration($time);
  @include animation-delay($delay);
}

@include keyframes(circle-7-media ) {
  0% {
    stroke-width: 0 ;
  }
  10% {
    stroke-width: 0 ;
  }
  11%, 28% {
    stroke-width: 16 ;
  }
  29% {
    stroke-width: 0 ;
  }
  100% {
    stroke-width: 0 ;
  }
}
.circle-7-bg {
  @include transform(rotate(0deg));

}

//////////////////////////////////////////////////////part-4


.middle-center-browser {
  @include transform(rotate(0deg) );
}
@for $s from 0 through 5 {
  .screen-browser:nth-child(#{$s}) {
    @include transform(
            rotate(360deg / 5 * $s + (360deg/5)*2)
            translate(104px, 0px)
    );
  }
}
.screen-browser:nth-child(3) {
  @include transform(
          rotate(360deg / 5 * 3 + (360deg/5)*2)
          translate(104px, -2px)
  );
}


.screen-browser:nth-child(1) path {
  @include transform(translate(5px, -4px) rotate($browser-rotate) scale( $browser-scale));
}
.screen-browser:nth-child(2) path {
  @include transform(translate(5.5px, -5px) rotate($browser-rotate) scale( $browser-scale));
}
.screen-browser:nth-child(3) path {
  @include transform(translate(4.5px, -5px) rotate($browser-rotate) scale( $browser-scale));
}
.screen-browser:nth-child(4) path {
  @include transform(translate(5px, -5px) rotate($browser-rotate) scale( $browser-scale));
}
.screen-browser:nth-child(5) path {
  @include transform(translate(6px, -5px) rotate($browser-rotate) scale(0.19));
}


.middle-origin-browser {
  @include transform(rotate(0deg));
  @include animation-set;
  @include animation-name(middle-origin-browser);
  @include animation-duration($time);
  @include animation-delay($delay*2);
}

@include keyframes(middle-origin-browser) {
  0% {
    @include transform(rotate(0deg));
  }
  10% {
    @include transform(rotate(-20deg));
  }
  30% {
    @include transform(rotate(-20deg));
  }
  100% {
    @include transform(rotate(-720deg));
  }
}


.screen-browser circle {
  stroke-width: 0px;
  fill: $screen-color;
  stroke: $screen-color;
  @include transform(rotate(315deg) );
  stroke-dasharray: 17,10 ;
  @include animation-set;
  @include animation-name(screen-browser);
  @include animation-duration($time);
  @include animation-delay($delay*2);
}
@include keyframes(screen-browser) {
  0%,10% {
    stroke: $screen-color;
    fill: $screen-color;
    stroke-width: 0px;
  }
  11%,29%{
    fill: $circle-dark ;
    stroke-width: 1px;
  }
  16%,24% {
    stroke: $screen-color ;
  }
  30%, 100% {
    stroke: $screen-color;
    fill: $screen-color;
    stroke-width: 0px;
  }
}
.screen-browser path {
  fill: $circle-ikon;
  @include animation-set;
  @include animation-name(part-4-fill);
  @include animation-duration($time);
  @include animation-delay($delay*2);
}
@include keyframes(part-4-fill) {
  0% {
    fill:$circle-ikon;
  }
  10% {
    fill:$circle-ikon;
  }
  11%, 29% {
    fill: $circle6;
  }
  30% {
    fill:$circle-ikon;
  }
  100% {
    fill:$circle-ikon;
  }
}


/////////////////////////////////////////////////////////////

.circle-8e {
  stroke-width: 0;
  stroke: $screen-color;
  @include animation-set;
  @include animation-name(circle-8e);
  @include animation-duration($time);
  @include animation-delay($delay*2);
}


@include keyframes(circle-8e) {
  0% {
    stroke: $screen-color;
    stroke-width: 0;
  }
  10% {
    stroke: $screen-color;
    stroke-width: 0;
  }
  11%, 29% {
    stroke: $circle-dark;
    stroke-width: 9;
  }
  30% {
    stroke: $screen-color;
    stroke-width: 0;
  }
  100% {
    stroke: $screen-color;
    stroke-width: 0;
  }
}

.circle-8a {
  stroke-width: 6 ;
  stroke: $screen-color;
  stroke-dasharray: 1,0,1,0,1, 87;
  @include transform(rotate(21deg)); //26
  @include animation-set;
  @include animation-name(circle-8a);
  @include animation-duration($time);
  @include animation-delay($delay*2);
  stroke-linecap:round;

}
@include keyframes(circle-8a) {
  0% {
    stroke: $screen-color;
    @include transform(rotate(21deg));
    stroke-dasharray: 1,0,1,0,1, 87;
  }
  10% {
    stroke: $screen-color;
    @include transform(rotate(21deg));
  }
  11%, 29% {
    stroke: rgba($circle-ikon, 1);
    stroke-dasharray: 1,14,1,28,1, 87;
  }
  30% {
    stroke: $screen-color;
    @include transform(rotate(21deg));
  }
  100% {
    stroke: $screen-color;
    @include transform(rotate(381deg));
    stroke-dasharray: 1,0,1,0,1, 87;
  }
}

.circle-8b {
  stroke-width: 11;
  stroke: $circle-transparency;
}
.circle-8, .circle-8d {
  stroke-width: 1;
  stroke: $screen-color;
}

.circle-8c {
  stroke-width: 10;
  stroke: $screen-color;
  stroke-dasharray: 1, 130.4;
  @include transform(rotate(0deg));
  @include animation-set;
  @include animation-name(circle-8c);
  @include animation-duration($time);
  @include animation-delay($delay*2);
  stroke-linecap:round;
}
@include keyframes(circle-8c) {
  0% {
    stroke: $screen-color;
    stroke-width: 10;
    @include transform(rotate(0deg));
  }
  10% {
    stroke: $screen-color;
    stroke-width: 10;
    @include transform(rotate(-1.5deg));
  }

  11%, 29% {
    stroke: $circle-dark;
  }
  15%, 35%{
    stroke-width: 23;
  }

  30% {
    stroke: $screen-color;
    @include transform(rotate(-1.5deg));
  }
  50%{
    stroke-width: 10;
}
  100% {
    stroke: $screen-color;
    stroke-width: 10;
    @include transform(rotate(1440deg));
  }
}

////////////////////////////////////////////////////////////////// part-5
.circle-ray {
  stroke-width: 0px;
  stroke-dasharray: 29;
  @include transform(rotate(-9deg));
  @include animation-set;
  @include animation-name(circle-ray);
  @include animation-duration($time);
  @include animation-delay($delay*3);

}
@include keyframes(circle-ray) {
  0% {
    stroke-width: 0;
    stroke: $circle-transparency;
  }
  10% {
    stroke-width: 0;

  }
  11%, 25% {
    stroke-width: 149px;
    stroke: rgba($circle5, .13);
  }
  26% {
    stroke-width: 0;
  }
  100% {
    stroke-width: 0;
    stroke: $circle-transparency;
  }
}

.circle-9e {
  stroke-width: 12;
  stroke: $circle-transparency;
  @include animation-set;
  @include animation-name(circle-9e);
  @include animation-duration($time);
  @include animation-delay($delay*3);
  stroke-linecap:round;
}
@include keyframes(circle-9e) {
  0% {
    stroke: $circle-transparency;
  }
  10% {
    stroke: $circle-transparency;
  }
  11%, 29% {
    stroke: rgba($circle5, .05);
  }
  30% {
    stroke: $circle-transparency;
  }
  100% {
    stroke: $circle-transparency;
  }
}

.circle-9 {
  stroke-width: 3 ;
  stroke: $screen-color ;
  stroke-dasharray: 57,80;
  @include animation-set;
  @include animation-name(part-5-stroke);
  @include animation-duration($time);
  @include animation-delay($delay*3);
}
@include keyframes(part-5-stroke) {
  0% {
    stroke: $screen-color;
    @include transform(rotate(-100deg));
  }
  10% {
    stroke: $screen-color;
  }
  11%, 25% {
    stroke: rgba($circle5, .3);
    @include transform(rotate(-280deg));
  }
  26% {
    stroke: $screen-color;
  }
  100% {
    stroke: $screen-color;
    @include transform(rotate(-460deg));
  }
}


.circle-9a {
  stroke-width: 8 ;
  stroke: $screen-color ;
  stroke-dasharray: 25,47, 17,10,8,11;
  //stroke-dasharray: 2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8,2,8, 2,353 ;
  @include transform(rotate(9deg));
  @include animation-set;
  @include animation-name(circle-9a );
  @include animation-duration($time);
  @include animation-delay($delay*3);

}
@include keyframes(circle-9a) {
  0% {
    stroke: $screen-color ;
    @include transform(rotate(0deg));
  }
  10%{
    stroke: $screen-color ;
  }
  11%,25% {
    stroke: rgba($circle5, .3);
    @include transform(rotate(random(180)+deg));
  }
  26%{
    stroke: $screen-color ;
  }
  100% {
    @include transform(rotate(360deg));
  }
}
.circle-9b {
  stroke-width: 5 ;
  stroke: $screen-color ;
  stroke-dasharray: 30,80;
  @include animation-set;
  @include animation-name(circle-9b );
  @include animation-duration($time);
  @include animation-delay($delay*3);

}
@include keyframes(circle-9b) {
  0% {
    stroke: $screen-color ;
    @include transform(rotate(0deg));
  }
  10%{
    stroke: $screen-color ;
  }
  11%,25% {
    stroke: rgba($circle5, .3);
    @include transform(rotate(random(360)+deg));
  }
  26%{
    stroke: $screen-color ;
  }
  100% {
    @include transform(rotate(720deg));
  }
}
.circle-9c {
  stroke-width: 1 ;
  stroke: $screen-color ;
  @include animation-set;
  @include animation-name(circle-9c );
  @include animation-duration($time);
  @include animation-delay($delay*3);
}
@include keyframes(circle-9c) {
  0% {
    stroke: $screen-color ;
    @include transform(rotate(0deg));
  }
  10%{
    stroke: $screen-color ;
  }
  11%,25% {
    stroke: $circle5;
    @include transform(rotate(random(360)+deg));
  }
  26%{
    stroke: $screen-color ;

  }
  100% {
    @include transform(rotate(720deg));
  }
}
.circle-9d {
  stroke-width: 7 ;
  stroke: $screen-color ;
  stroke-dasharray: 404,404;
  @include transform(rotate(random(360)+deg));
  @include animation-set;
  @include animation-name(circle-9d);
  @include animation-duration($time);
  @include animation-delay($delay*3);

}
@include keyframes(circle-9d) {
  0% {
    stroke: $screen-color ;
    @include transform(rotate(0deg));
  }
  10%{
    stroke: $screen-color ;
  }
  11%,25% {
    stroke: $circle5;
    @include transform(rotate(-360deg));
  }
  26%{
    stroke: $screen-color ;
  }
  100% {
    @include transform(rotate(-720deg));
  }
}
/////////////////////////////////////
///////////////////////////////////// animation of  scale
/////////////////////////////////////
/////////////////////////////////////
.part-1,
.part-2,
.part-3,
.part-4,
.part-5 {
  opacity: 0;
  @include transform(scale(4) rotate(360deg));
  @include animation-set;
  @include animation-name(part-scale);
  @include animation-iteration-count(1);
  @include animation-timing-function(easy-out);
  @include animation-duration($time-scale);
}

.part-1 {
  @include animation-name(part1-scale);
  @include animation-delay(0);
  @include animation-duration(1.5s);
}
.part-2 {
  @include animation-delay(0);
}
.part-3 {
  @include animation-delay($time-scale-delay);
}
.part-4 {
  @include animation-delay($time-scale-delay*2);
}
.part-5 {
  @include animation-delay($time-scale-delay*3);
}


@include keyframes(part1-scale) {
  0% {
     opacity: 0;
    @include transform(scale(4));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

@include keyframes(part-scale) {
  0% {
     opacity: 0;
    @include transform(scale(4) rotate(540deg));
  }
  30% {
    opacity: 1;
  }
  70%{
    @include transform(scale(2) rotate(270deg));
  }
  80%, 100% {
    opacity: 1;
    @include transform(scale(1) rotate(0deg));
  }
}

/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////
///////////////////////////////////// text description part


text {
  fill: $circle-ikon;
  font-size: 2rem;
}
.group-text-wrapper-1  {
  .icon-text {
    @include transform(translate($icon-left, -18px) scale(1.1));
    path {
      fill: $circle2;
    }
  }
  text {
    fill: $circle-ikon;
  }
}
.group-text-wrapper-2 {
  .icon-text {
    @include transform(translate($icon-left, -17px) scale(.21));
    path {
      fill: $circle1;
    }
  }
  text {
    fill: $circle-ikon;
  }
  .group-text-3 .icon-text {
    @include transform(translate($icon-left + 5px, -17px) scale(.21));
  }
  .group-text-4 .icon-text {
    @include transform(translate($icon-left + 7px, -17px) scale(.21));
  }
  .group-text-5 .icon-text {
    @include transform(translate($icon-left + 7px, -17px) scale(.21));
  }
}

.group-text-wrapper-3 {
  .icon-text {
    @include transform(translate($icon-left, -17px) scale(.35));
    path {
      fill: $circle6;
    }
  }
  text {
    fill: $circle-ikon;
  }
}
.group-text-wrapper-4 {
  .icon-text {
    @include transform(translate($icon-left, -22px) scale(.3));
    path {
      fill: $circle5;
      stroke:$circle5;
    }
    circle {
      fill: $circle5;
    }
  }
  text {
    fill: $circle-ikon;
  }
}
.group-text-1 {
  @include transform(translate(20px, 0px));
}
.group-text-2 {
  @include transform(translate(20px, $text-space));
}
.group-text-3 {
  @include transform(translate(20px, $text-space*2));
}
.group-text-4 {
  @include transform(translate(20px, $text-space*3));
}
.group-text-5 {
  @include transform(translate(20px, $text-space*4));
}

.group-text-wrapper-1,
.group-text-wrapper-2,
.group-text-wrapper-3,
.group-text-wrapper-4 {
  opacity: 0;
  @include animation-set;
  @include animation-name(text-show-hide);
  @include animation-duration($time);
}
.group-text-wrapper-1 {  @include animation-delay(0);}
.group-text-wrapper-2 {  @include animation-delay($delay);}
.group-text-wrapper-3 {  @include animation-delay($delay*2);}
.group-text-wrapper-4 {  @include animation-delay($delay*3);}

@include keyframes(text-show-hide) {
  0%, 10% {
    opacity: 0;
  }
  11%,25% {
    opacity: 1;
  }
  26%, 100% {
    opacity: 0;
  }
}
////////////////////////////////
////////////////////////////////
////////////////////////////////
////////////////////////////////
.svg-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.button-play {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.2rem;
  border-radius: 200px;
  border-top-right-radius:0 ;
  background: rgba(#fff, .1);
  color: rgba(#fff, .5);
  @include transition(all .3s linear);

  &:hover {
    background: rgba($circle1, 1);
  }
  &:before {
    font-family:FontAwesome;
    content: "\f04c";
  }
}
.svg_active {
  @include animation-play-state(paused);
}
.iconAnimationPlay {
  background: $circle2;
  color: rgba($circle-light, .7);
  &:hover {
    background: rgba($circle1, 1);
  }
  &:before {
    font-family:FontAwesome;
    content: "\f04b";
  }
}


///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
/////////////////////////////////// light

.light-animation {
  .all-wrapper{
    @include transform(translate(0px, 150px));
  }
  .all-wrapper-text {
    //display: none;
  }
  .button-play {
    display: none;
  }
  .part-1,
  .part-2,
  .part-3,
  .part-4,
  .part-5,
  .glob,
  .glob2,
  .circle-1,
  .circle-2,
  .screen-triangle polygon,
  .circle-3,
  .circle-3-dash,
  .circle-4,
  .middle-origin-system,
  .system,
  .circle-6-holder,
  .circle-6-dash,
  .middle-center-media,
  .media-system,
  .media-system path,
  .circle-7a,
  .circle-7-media,
  .middle-origin-browser,
  .screen-browser circle,
  .screen-browser path,
  .circle-8e,
  .circle-8a,
  .circle-8c,
  .circle-ray,
  .circle-9e,
  .circle-9,
  .circle-9a,
  .circle-9b,
  .circle-9c,
  .circle-9d
  {
    @include animation-name(none);
  }

  .part-1,
  .part-2,
  .part-3,
  .part-4,
  .part-5 {
    opacity: 1;
    @include transform(scale(1.3) rotate(0deg));
  }


  .glob {
    fill: $circle5;
  }
  .circle-1 {
    stroke: $circle2;
  }
  .circle-2 {
    stroke: $circle2;
  }
  .screen-triangle polygon {
    fill: $circle5;
  }

  ///// part-2
  .middle-center-system {
    @include transform(rotate(18deg));
  }
  .circle-3{
    stroke: $circle-light;
  }
  .circle-3-dash {
    stroke: $circle2;
  }
  .circle-4 {
    stroke: $circle2;
  }
  .middle-origin-system {
    stroke: $circle2;
  }
  .system {
    fill: $circle-light;
  }
  .circle-6-holder {
    stroke: $circle2;
  }
  .circle-6-dash {
    stroke-width: $stroke-6;
  }
  ///// part-3
  .middle-center-media {
    @include transform(rotate(20deg));
  }

  @for $s from 0 through 15 {
    .media-system:nth-child(#{$s}) {
      @include transform(rotate(-200deg + 22deg*$s) translate($media-top, 0px));
    }
  }
  .media-system path {
    fill: $circle1;
  }
  .circle-7a {
    stroke-dasharray: 685 ;
  }
  .circle-7-media {
    stroke-width: 16 ;
  }

  ///// part-4

  .middle-origin-browser {
    @include transform(rotate(-20deg));
  }
  .circle-8b {
    stroke: rgba($circle-ikon, .4);
  }
  .screen-browser circle {
    fill: $circle-dark ;
    stroke-width: 1px;
    stroke: rgba($circle-ikon, .5);
  }
  .screen-browser path {
    fill: $circle6;
  }
  .circle-8e {
    stroke: $circle-dark;
    stroke-width: 9;
  }
  .circle-8a {
    stroke: rgba($circle-ikon, 1);
    stroke-dasharray: 1,14,1,28,1, 87;
  }
  .circle-8c {
    stroke-width: 23;
    @include transform(rotate(-1.5deg));
    stroke: $circle-dark;
  }

  ///// part-5
  .circle-ray {
    stroke-width: 149px;
    stroke: rgba($circle5, .13);
  }
  .circle-9e {
    stroke: rgba($circle5, .05);
  }
  .circle-9 {
    stroke: rgba($circle5, .3);
    @include transform(rotate(-280deg));
  }
  .circle-9a {
    stroke: rgba($circle5, .3);
    @include transform(rotate(random(180)+deg));
  }
  .circle-9b {
    stroke: rgba($circle5, .3);
    @include transform(rotate(random(360)+deg));
  }
  .circle-9c {
    stroke: $circle5;
    @include transform(rotate(random(360)+deg));
  }
  .circle-9d {
    stroke: $circle5;
    @include transform(rotate(-360deg));
  }

} // end .light-animation
